.black-box{
    background-color: hsl(240, 100%, 5%);
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.black-box h1{
    color: hsl(35, 77%, 62%);
    font-size: 40px;
    margin: 0 0 20px 0;
}

.black-box .title{
    color: white;
    margin:  0 0 10px 0;
}

.black-box .title:hover{
    color: hsl(35, 77%, 62%);
}

.black-box .sub-title{
    color: rgba(255, 255, 255, 0.603);
    margin:  0 0 20px 0 ;
}