header{
    display: flex;
    justify-content: space-between;
    margin: 50px 7.7%;
    width: 87%;
}

.hamburguer{
    display: none;
}

header h1{
    font-size: 50px;
    font-weight: 900;
}

header nav{
    display: flex;
    align-items: center;
}

header nav li{
    list-style: none;
    margin: 10px 20px;
    cursor: pointer;
    display: block;
}

header nav li:hover{
    color: hsl(35, 77%, 62%);
}



.btn-mobile {
    display: none;
}


