@media (max-width: 600px){

    .btn-mobile{
        display: block;
        position: absolute;
        right: 5%;
        z-index: 1;
    }
    header{
        margin: 5% auto;
    }

    header nav{
        display: block;
        position: absolute;
        right: 0;
        width: 50px;
        height: 0;
        transition: .5s;
        height: 100vh;
        background-color: transparent;
    }

    header nav.active{
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100%;
    }

    header nav li{
        display: none;
    }

    header nav.active li{
        display: flex;
        font-size: 20px;
        font-weight: 600;
    }

    header nav.active li:nth-child(1){
        margin-top: 40%;
        margin-bottom: 5%;
    }

    header nav.active li:nth-child(2){
        margin-top: 20%;
        margin-bottom: 5%;
    }

    header nav.active li:nth-child(3){
        margin-top: 20%;
        margin-bottom: 5%;
    }

    header nav.active li:nth-child(4){
        margin-top: 20%;
        margin-bottom: 5%;
    }

    header nav.active li:nth-child(5){
        margin-top: 20%;
    }



}