@media (max-width: 600px) {
    .cards-box{
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        margin: 15% auto;
    }
    .card{
        margin-bottom: 5%;
    }
    .card:nth-child(2){
        margin-top: 5%;
        margin-bottom: 5%;
    }

=======
        margin: 50px 0
    }
>>>>>>> ff30f1d2559fb8bd1fd53c26cdb7ed1f02710322
}